@import url("webfonts.css");

.header{
    font-family: 'NOTO Sans TC',sans-serif;
    background-image: url("/img/1662348243.png");
    background-position: center;
    color: #FFFFFF;
}

.header a{
    color: #FFFFFF;
    font-weight: bold;
}

.header-text{
    margin: 50px;
    text-align: center;
    text-shadow: 3px 3px 25px #222222;
}

.header-tabs{
    font-family: 'cwTeXYen','NOTO Sans TC',sans-serif;
    font-size: 17px;
}

/*.footer{
    background-color: azure;
    position: absolute;
    bottom: 0;
}

.footer-text-2{
    text-align: right;
}*/